#!/bin/bash
if [ -f .env ]; then
    dotenv
fi

if ! command -v "devenv" >/dev/null; then
  echo 'Sentry devenv can help simplify dev environment management.
Try out with an install from:
https://github.com/getsentry/devenv#install
'
  exit 1
else
  if ! [ -f .venv/bin/activate ]; then
    devenv sync
  fi
fi

PATH_add "${PWD}/.devenv/bin"
export PATH

if [ -f .venv/bin/activate ]; then
  source .venv/bin/activate
fi

if [[ ! -f .git/hooks/pre-commit ]]; then
  pre-commit install
fi
