has_brew=false

if [[ $(which brew) ]]; then
  has_brew=true
fi

required_python=$(cat .python-version | grep -E -o '^\d+\.\d+')
python_executable="python${required_python}"

if [[ ! $(which $python_executable) ]]; then
  echo -e "\nWARNING: Python $required_python is required, but wasn't found in PATH. Install it now? (y/n)"
  read answer

  if [[ $answer = 'y' || $answer = 'Y' ]]; then
    if [[ $has_brew = true ]]; then
      brew install "python@${required_python}"
    else
      echo -e "\nERROR: Cannot find homebrew, which is needed to install Python ${required_python}. Please install homebrew (https://docs.brew.sh/Installation) and then run \`source .envrc\` to run this script again."
      exit -1
    fi
  else
    echo -e "\nERROR: Cannot proceed without correct version of python. Exiting."
    exit -1
  fi
fi

brew_packages=(
  cmake          # required by onnx
  docker         # required to run mypy
  docker-compose # required to run the devserver
)
missing_packages=()

for pkg in "${brew_packages[@]}"; do
  if [[ ! $(which $pkg) ]]; then
    missing_packages+=($pkg)
  fi
done

if [[ ${#missing_packages[@]} != 0 ]]; then
  echo -e "\nWARNING: Found the following missing packages:"
  for pkg in "${missing_packages[@]}"; do
    echo "  $pkg"
  done
  echo "Install missing packages? (y/n)"
  read answer

  if [[ $answer = 'y' || $answer = 'Y' ]]; then
    if [[ $has_brew = true ]]; then
      for pkg in "${missing_packages[@]}"; do
        brew install $pkg
      done
    else
      echo -e "\nERROR: Cannot find homebrew, which is needed to install missing packages. Please install homebrew (https://docs.brew.sh/Installation) and then run \`source .envrc\` to run this script again."
      exit -1
    fi
  else
    echo -e "\nERROR: Cannot proceed without missing packages. Exiting."
    exit -1
  fi
fi

venv_path="${PWD}/.venv"

if [[ ! -d "$venv_path" ]]; then
  echo -e "\nINFO: Creating new virtual environment, because one was not detected."
  $python_executable -m venv "${venv_path}"

  echo -e "\nINFO: Installing requirements."
  source "${venv_path}/bin/activate"
  pip install -r requirements.txt
else
  source "${venv_path}/bin/activate"
fi

if [[ ! -f .git/hooks/pre-commit ]]; then
  pre-commit install
fi
