services:
    rabbitmq:
        image: rabbitmq:3.8-alpine
        ports:
            - "${RABBITMQ_PORT:-5672}:5672"
            - "${RABBITMQ_CONFIG_PORT:-15672}:15672"
    db:
        image: pgvector/pgvector:pg14
        restart: always
        environment:
            POSTGRES_USER: root
            POSTGRES_PASSWORD: seer
            POSTGRES_DB: seer
        volumes:
            - pgdata:/var/lib/postgresql/data
        ports:
            - "${DB_PORT:-5433}:5432"
    test-db:
        image: pgvector/pgvector:pg14
        restart: always
        environment:
            POSTGRES_USER: root
            POSTGRES_PASSWORD: seer
            POSTGRES_DB: seer
        volumes:
            - pgdata_test:/var/lib/postgresql/data
    app:
        build:
            context: .
            dockerfile: Lightweight.Dockerfile
        working_dir: /app
        volumes:
            - ./pyproject.toml:/app/pyproject.toml
            - ./src:/app/src
            - ./tests:/app/tests
            - ./models:/app/models
            - ./data/chroma:/app/data/chroma
            - ~/.config/gcloud:/root/.config/gcloud
            # Codecov test artifacts
            - ./.artifacts:/app/.artifacts
            - ./.test_durations:/app/.test_durations
        healthcheck:
            test: curl --fail http://localhost:9091/health/ready || exit 1
            interval: 5s
            retries: 3
            timeout: 10s
        depends_on:
            - rabbitmq
            - db
        env_file:
            - .env
        environment:
            - DEV=1
            - AUTOFIX_ENABLED=1
            - SEVERITY_ENABLED=1
            - GROUPING_ENABLED=1
            - AUTOFIXABILITY_SCORING_ENABLED=1
            - ANOMALY_DETECTION_ENABLED=1
            - CELERY_WORKER_ENABLE=true
            - PORT=9091
            - SMOKE_TEST=1
            - SENTRY_BASE_URL=http://host.docker.internal:8000
            - CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672//
            - DATABASE_URL=postgresql+psycopg://root:seer@db/seer
            - GOOGLE_APPLICATION_CREDENTIALS=/root/.config/gcloud/application_default_credentials.json
            - GOOGLE_CLOUD_PROJECT=ml-ai-420606
            - SENTRY_REGION=us
            - IGNORE_API_AUTH=1
            - CODEBASE_GCS_STORAGE_BUCKET=autofix-repositories-local
        ports:
            - "${APP_PORT:-9091}:9091" # Local dev sentry app looks for port 9091 for the seer service.
            - 5555:5555 # Flower
        extra_hosts:
            - "host.docker.internal:host-gateway"
volumes:
    pgdata:
    pgdata_test:
