services:
    rabbitmq:
        image: rabbitmq:3.8-alpine
        container_name: "rabbitmq_lightweight"
        ports:
            - "5672:5672"
            - "15672:15672"
    db:
        image: pgvector/pgvector:pg14
        restart: always
        environment:
            POSTGRES_USER: root
            POSTGRES_PASSWORD: seer
            POSTGRES_DB: seer
        volumes:
            - pgdata:/var/lib/postgresql/data
        ports:
            - "5433:5432"
    test-db:
        image: pgvector/pgvector:pg14
        restart: always
        environment:
            POSTGRES_USER: root
            POSTGRES_PASSWORD: seer
            POSTGRES_DB: seer
        volumes:
            - pgdata_test:/var/lib/postgresql/data
    app:
        build:
            context: .
        working_dir: /app
        volumes:
            - ./src:/app/src
            - ./tests:/app/tests
            - ./models:/app/models
            - ./data/chroma:/app/data/chroma
            - ~/.config/gcloud:/root/.config/gcloud
            # Codecov test artifacts
            - ./.artifacts:/app/.artifacts
        depends_on:
            - rabbitmq
            - db
        env_file:
            - .env
        environment:
            - DEV=1
            - SEVERITY_ENABLED=1
            - GROUPING_ENABLED=1
            - CELERY_WORKER_ENABLE=true
            - PORT=9091
            - SENTRY_BASE_URL=http://host.docker.internal:8000
            - CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672//
            - DATABASE_URL=postgresql+psycopg://root:seer@db/seer
            - GOOGLE_APPLICATION_CREDENTIALS=/root/.config/gcloud/application_default_credentials.json
            - GOOGLE_CLOUD_PROJECT=ml-ai
            - CODEBASE_STORAGE_TYPE=filesystem
            - USE_EU_REGION=0
        ports:
            - "9091:9091" # Local dev sentry app looks for port 9091 for the seer service.
volumes:
    pgdata:
    pgdata_test:
