# Ideally, move to using open constraints, such as 1.* or >=2.3,<3
# when specifying packages, so that we can update them on a regular basis.

certifi
charset-normalizer==2.*
click==8.1.*
contourpy==1.1.*
cycler==0.11.0
Cython==3.0.2
ephem==4.1.4
filelock==3.12.2
Flask==2.2.*
fonttools==4.43.0
fsspec==2023.6.0
gunicorn==23.*
holidays==0.31
idna
importlib-resources==6.0.1
itsdangerous==2.1.2
Jinja2==3.1.4
joblib==1.3.2
kiwisolver==1.4.5
MarkupSafe==2.1.3
mpmath==1.3.0
networkx==3.1
numpy==1.26.1
onnx==1.16.0
openai>=1.44
optimum==1.16.2
packaging
pandas==2.0.3
patsy==0.5.3
Pillow==10.3.0
PyGithub==2.1.1
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0.1
regex==2023.8.8
requests==2.32.2
scikit-learn==1.3.0
scipy==1.11.2
seaborn==0.12.2
sentence_transformers==2.3.1
sentry-sdk[flask]>=2.25.1
simdkalman==1.0.2
six==1.16.0
statsmodels==0.14.0
sympy==1.12
threadpoolctl==3.2.0
torch==2.2.0 # in Lightweight.Dockerfile, we have a specific command to install torch, update it there too.
tqdm==4.66.3
typing_extensions
tzdata==2023.3
tree_sitter==0.21.3
tree_sitter_languages==1.10.2
urllib3==1.26.19
Werkzeug==3.0.3
pytest==7.4.3
pydantic==2.6.*
mypy==1.8.0
mypy-extensions==1.0.0
openapi-core==0.18.2
pandas-stubs==2.1.4.231227
types-Pillow==10.1.0
types-colorama==0.4.15.12
types-pywin32==306.0.0.8
types-setuptools==69.0.0.0
types-tabulate==0.9.0.3
types-tqdm==4.66.0.5
types_pytz==2023.3.1.1
types-openpyxl==3.1.0.32
types-PyYAML==6.0.12.1
types-jsonschema==4.20.0.20240105
types-requests==2.25.0
celery==5.3.6
celery-stubs>=0.1.3
# deepsparse-nightly==1.7.0.20240103 TODO - fix pydantic conflict
unidiff==0.7.5
transformers==4.37.2
psycopg==3.1.18
pgvector==0.2.4
sqlalchemy==2.0.25
pytest-cov==4.0.0
covdefaults==2.3.0
Flask-Migrate==4.*
Flask-SQLAlchemy==3.*
types-Flask-Migrate>=4.0.0.20240205
pytest-asyncio==0.23.5
aiohttp==3.*
types-python-dateutil==2.8.19.20240106
johen==0.1.*
pydantic-xml==2.*
chromadb==0.4.14
google-cloud-storage==2.*
google-cloud-aiplatform==1.*
google-cloud-secret-manager==2.*
anthropic[vertex]==0.*
langfuse @ git+https://github.com/jennmueng/langfuse-python.git@d7c0127682ddb20f73c5cf4fbb396cdfa8961fc3
watchdog
stumpy==1.13.0
pytest_alembic==0.11.1
cryptography==43.*
pip-tools==7.4.1
sentry-protos>=0.1.21
protobuf>=5.27.3
proto-plus>=1.24.0
grpcio-health-checking>=1.66
grpcio-reflection>=1.66
prophet==1.1.*
rapidfuzz==3.10.*
pytest-vcr==1.*
vcrpy==6.*
chardet==5.2.*
google-genai==1.*
httpx==0.27.2 # v0.28 is breaking OpenAI and Anthropic as of Dec 16 2024
tsmoothie==1.0.*
datadog==0.51.*
flower==2.0.1
GitPython==3.1.*
