name: Seer

on:
  push:
    branches: [main, experimental]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    # required for google auth
    permissions:
      contents: "read"
      id-token: "write"

    env:
      TEST: 1

    steps:
      - uses: actions/checkout@v3
      - id: "auth"
        uses: google-github-actions/auth@v1
        with:
          workload_identity_provider: "projects/868781662168/locations/global/workloadIdentityPools/prod-github/providers/github-oidc-pool"
          service_account: "gha-seer-models@sac-prod-sa.iam.gserviceaccount.com"
          token_format: "id_token"
          id_token_audience: "610575311308-9bsjtgqg4jm01mt058rncpopujgk3627.apps.googleusercontent.com"
          id_token_include_email: true
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v1
      - name: Fetch models + Build image
        run: |
          rm -rf ./models
          gcloud storage cp -r gs://sentry-ml/seer/models ./
      - name: Build image
        run: |
          make update
      # TODO: Re-enable this when json schemas are ready to come back
      # - name: Check schema
      #   run: |
      #     make schemas
      #     if ! git diff --quiet --ignore-submodules --cached; then
      #       echo "Error: Schema changes detected, run make schemas and commit those!"
      #       exit 1
      #     fi
      - name: Typecheck with mypy
        run: |
          make mypy
      - name: Test with pytest
        run: |
          make test
